
/*Solarized Dark*/
/*.codehilite{background-color:#073642;color:#93a1a1}
.codehilite .c{color:#586e75 !important;font-style:italic !important}
.codehilite .cm{color:#586e75 !important;font-style:italic !important}
.codehilite .cp{color:#586e75 !important;font-style:italic !important}
.codehilite .c1{color:#586e75 !important;font-style:italic !important}
.codehilite .cs{color:#586e75 !important;font-weight:bold !important;font-style:italic !important}
.codehilite .err{color:#dc322f !important;background:none !important}
.codehilite .k{color:#cb4b16 !important}
.codehilite .o{color:#93a1a1 !important;font-weight:bold !important}
.codehilite .p{color:#93a1a1 !important}
.codehilite .ow{color:#2aa198 !important;font-weight:bold !important}
.codehilite .gd{color:#93a1a1 !important;background-color:#372c34 !important;display:inline-block}
.codehilite .gd .x{color:#93a1a1 !important;background-color:#4d2d33 !important;display:inline-block}
.codehilite .ge{color:#93a1a1 !important;font-style:italic !important}
.codehilite .gr{color:#aa0000 !important}
.codehilite .gh{color:#586e75 !important}
.codehilite .gi{color:#93a1a1 !important;background-color:#1a412b !important;display:inline-block}
.codehilite .gi .x{color:#93a1a1 !important;background-color:#355720 !important;display:inline-block}.codehilite .go{color:#888888}.codehilite .gp{color:#555555}.codehilite .gs{color:#93a1a1 !important;font-weight:bold !important}.codehilite .gu{color:#6c71c4 !important}.codehilite .gt{color:#aa0000}.codehilite .kc{color:#859900 !important;font-weight:bold !important}.codehilite .kd{color:#268bd2 !important}.codehilite .kp{color:#cb4b16 !important;font-weight:bold !important}.codehilite .kr{color:#d33682 !important;font-weight:bold !important}.codehilite .kt{color:#2aa198 !important}.codehilite .n{color:#268bd2 !important}.codehilite .na{color:#268bd2 !important}.codehilite .nb{color:#859900 !important}.codehilite .nc{color:#d33682 !important}.codehilite .no{color:#b58900 !important}.codehilite .ni{color:#800080}.codehilite .nl{color:#859900 !important}.codehilite .ne{color:#268bd2 !important;font-weight:bold !important}.codehilite .nf{color:#268bd2 !important;font-weight:bold !important}.codehilite .nn{color:#b58900 !important}.codehilite .nt{color:#268bd2 !important;font-weight:bold !important}.codehilite .nx{color:#b58900 !important}.codehilite .bp{color:#999999}.codehilite .vc{color:#008080}.codehilite .vg{color:#268bd2 !important}.codehilite .vi{color:#268bd2 !important}.codehilite .nv{color:#268bd2 !important}.codehilite .w{color:#bbbbbb}.codehilite .mf{color:#2aa198 !important}.codehilite .m{color:#2aa198 !important}.codehilite .mh{color:#2aa198 !important}.codehilite .mi{color:#2aa198 !important}.codehilite .mo{color:#009999}.codehilite .s{color:#2aa198 !important}.codehilite .sb{color:#d14}.codehilite .sc{color:#d14}.codehilite .sd{color:#2aa198 !important}.codehilite .s2{color:#2aa198 !important}.codehilite .se{color:#dc322f !important}.codehilite .sh{color:#d14}.codehilite .si{color:#268bd2 !important}.codehilite .sx{color:#d14}.codehilite .sr{color:#2aa198 !important}.codehilite .s1{color:#2aa198 !important}.codehilite .ss{color:#990073}.codehilite .il{color:#009999}.codehilite div .gd,.codehilite div .gd .x,.codehilite div .gi,.codehilite div .gi .x{display:inline-block;width:100%}*/

/*Zenburn*/
/*.codehilite code,.codehilite pre{color:#fdce93;background-color:#3f3f3f}.codehilite .hll{background-color:#222}.codehilite .c{color:#7f9f7f}.codehilite .err{color:#e37170;background-color:#3d3535}.codehilite .g{color:#7f9f7f}.codehilite .k{color:#f0dfaf}.codehilite .l{color:#ccc}.codehilite .n{color:#dcdccc}.codehilite .o{color:#f0efd0}.codehilite .x{color:#ccc}.codehilite .p{color:#41706f}.codehilite .cm{color:#7f9f7f}.codehilite .cp{color:#7f9f7f}.codehilite .c1{color:#7f9f7f}.codehilite .cs{color:#cd0000;font-weight:bold}.codehilite .gd{color:#cd0000}.codehilite .ge{color:#ccc;font-style:italic}.codehilite .gr{color:red}.codehilite .gh{color:#dcdccc;font-weight:bold}.codehilite .gi{color:#00cd00}.codehilite .go{color:gray}.codehilite .gp{color:#dcdccc;font-weight:bold}.codehilite .gs{color:#ccc;font-weight:bold}.codehilite .gu{color:purple;font-weight:bold}.codehilite .gt{color:#0040D0}.codehilite .kc{color:#dca3a3}.codehilite .kd{color:#ffff86}.codehilite .kn{color:#dfaf8f;font-weight:bold}.codehilite .kp{color:#cdcf99}.codehilite .kr{color:#cdcd00}.codehilite .kt{color:#00cd00}.codehilite .ld{color:#cc9393}.codehilite .m{color:#8cd0d3}.codehilite .s{color:#cc9393}.codehilite .na{color:#9ac39f}.codehilite .nb{color:#efef8f}.codehilite .nc{color:#efef8f}.codehilite .no{color:#ccc}.codehilite .nd{color:#ccc}.codehilite .ni{color:#c28182}.codehilite .ne{color:#c3bf9f;font-weight:bold}.codehilite .nf{color:#efef8f}.codehilite .nl{color:#ccc}.codehilite .nn{color:#8fbede}.codehilite .nx{color:#ccc}.codehilite .py{color:#ccc}.codehilite .nt{color:#9ac39f}.codehilite .nv{color:#dcdccc}.codehilite .ow{color:#f0efd0}.codehilite .w{color:#ccc}.codehilite .mf{color:#8cd0d3}.codehilite .mh{color:#8cd0d3}.codehilite .mi{color:#8cd0d3}.codehilite .mo{color:#8cd0d3}.codehilite .sb{color:#cc9393}.codehilite .sc{color:#cc9393}.codehilite .sd{color:#cc9393}.codehilite .s2{color:#cc9393}.codehilite .se{color:#cc9393}.codehilite .sh{color:#cc9393}.codehilite .si{color:#cc9393}.codehilite .sx{color:#cc9393}.codehilite .sr{color:#cc9393}.codehilite .s1{color:#cc9393}.codehilite .ss{color:#cc9393}.codehilite .bp{color:#efef8f}.codehilite .vc{color:#efef8f}.codehilite .vg{color:#dcdccc}.codehilite .vi{color:#ffffc7}.codehilite .il{color:#8cd0d3}*/

/*Monokai*/
.codehilite { background-color: #49483e !important; }
.codehilite .c { color: #968f71 !important; } /* Comment */
.codehilite .err { color: #960050 !important; background-color: #1e0010 !important; } /* Error */
.codehilite .k { color: #66d9ef !important; } /* Keyword */
.codehilite .l { color: #ae81ff !important; } /* Literal */
.codehilite .n { color: #f8f8f2 !important; } /* Name */
.codehilite .o { color: #f92672 !important; } /* Operator */
.codehilite .p { color: #f8f8f2 !important; } /* Punctuation */
.codehilite .cm { color: #968f71 !important; } /* Comment.Multiline */
.codehilite .cp { color: #968f71 !important; } /* Comment.Preproc */
.codehilite .c1 { color: #968f71 !important; } /* Comment.Single */
.codehilite .cs { color: #968f71 !important; } /* Comment.Special */
.codehilite .ge { font-style: italic !important; } /* Generic.Emph */
.codehilite .gs { font-weight: bold !important; } /* Generic.Strong */
.codehilite .kc { color: #66d9ef !important; } /* Keyword.Constant */
.codehilite .kd { color: #66d9ef !important; } /* Keyword.Declaration */
.codehilite .kn { color: #f92672 !important; } /* Keyword.Namespace */
.codehilite .kp { color: #66d9ef !important; } /* Keyword.Pseudo */
.codehilite .kr { color: #66d9ef !important; } /* Keyword.Reserved */
.codehilite .kt { color: #66d9ef !important; } /* Keyword.Type */
.codehilite .ld { color: #e6db74 !important; } /* Literal.Date */
.codehilite .m { color: #ae81ff !important; } /* Literal.Number */
.codehilite .s { color: #e6db74 !important; } /* Literal.String */
.codehilite .na { color: #a6e22e !important; } /* Name.Attribute */
.codehilite .nb { color: #f8f8f2 !important; } /* Name.Builtin */
.codehilite .nc { color: #a6e22e !important; } /* Name.Class */
.codehilite .no { color: #66d9ef !important; } /* Name.Constant */
.codehilite .nd { color: #a6e22e !important; } /* Name.Decorator */
.codehilite .ni { color: #f8f8f2 !important; } /* Name.Entity */
.codehilite .ne { color: #a6e22e !important; } /* Name.Exception */
.codehilite .nf { color: #a6e22e !important; } /* Name.Function */
.codehilite .nl { color: #f8f8f2 !important; } /* Name.Label */
.codehilite .nn { color: #f8f8f2 !important; } /* Name.Namespace */
.codehilite .nx { color: #a6e22e !important; } /* Name.Other */
.codehilite .py { color: #f8f8f2 !important; } /* Name.Property */
.codehilite .nt { color: #f92672 !important; } /* Name.Tag */
.codehilite .nv { color: #f8f8f2 !important; } /* Name.Variable */
.codehilite .ow { color: #f92672 !important; } /* Operator.Word */
.codehilite .w { color: #f8f8f2 !important; } /* Text.Whitespace */
.codehilite .mf { color: #ae81ff !important; } /* Literal.Number.Float */
.codehilite .mh { color: #ae81ff !important; } /* Literal.Number.Hex */
.codehilite .mi { color: #ae81ff !important; } /* Literal.Number.Integer */
.codehilite .mo { color: #ae81ff !important; } /* Literal.Number.Oct */
.codehilite .sb { color: #e6db74 !important; } /* Literal.String.Backtick */
.codehilite .sc { color: #e6db74 !important; } /* Literal.String.Char */
.codehilite .sd { color: #e6db74 !important; } /* Literal.String.Doc */
.codehilite .s2 { color: #e6db74 !important; } /* Literal.String.Double */
.codehilite .se { color: #ae81ff !important; } /* Literal.String.Escape */
.codehilite .sh { color: #e6db74 !important; } /* Literal.String.Heredoc */
.codehilite .si { color: #e6db74 !important; } /* Literal.String.Interpol */
.codehilite .sx { color: #e6db74 !important; } /* Literal.String.Other */
.codehilite .sr { color: #e6db74 !important; } /* Literal.String.Regex */
.codehilite .s1 { color: #e6db74 !important; } /* Literal.String.Single */
.codehilite .ss { color: #e6db74 !important; } /* Literal.String.Symbol */
.codehilite .bp { color: #f8f8f2 !important; } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #f8f8f2 !important; } /* Name.Variable.Class */
.codehilite .vg { color: #f8f8f2 !important; } /* Name.Variable.Global */
.codehilite .vi { color: #f8f8f2 !important; } /* Name.Variable.Instance */
.codehilite .il { color: #ae81ff !important; } /* Literal.Number.Integer.Long */