/*
* Greg Reda
* Styling based on the Skeleton documention (http://www.getskeleton.com/)
* 11/25/2012
* Use it however you want
*/

/*
TODO:
- CLEAN UP A TAG LINKS - Use inheritance
- Fix code syntax on mobile
*/

{margin: 0; padding: 0;}
html, body { height: 100%; }
div.container {
	padding-top: 50px;
	min-height: 100%;
	/*margin-bottom: -50px;*/
	/*position: relative;*/
}
footer {
	float: right !important;
	/*height: 50px;*/
	/*position: relative;*/
	text-align: center;
	/*clear: both;*/
}

#logo {
	margin-bottom: 10px;	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
	font-weight: bold;
	text-align: center;
	
	/* Styling from h3 tag in Skeleton's base.css */
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 8px
}

hr.large {
	border: none;
	height: 4px;
	background-color: #ebebeb;
	margin: 10px 10px;
}

hr.small {
	margin: 10px 0;
}

section#content {
	margin-top: 30px 0;
	float: right; /*Had to add this - not sure if it's the right way*/
}

#content img {
	max-width: 675px;
	display: block;
	margin-left: auto;
	margin-right: auto; 
}

#avatar {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	display: block;
	width: 140px;
	/* border: 2px solid #555; */
	/* border-radius: 70px; */

}

/* Custom CSS */



h1 {
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 8px;
}

h2 {
	font-size: 21px;
	line-height: 30px;
	margin-top: 16px;
	margin-bottom: 4px;
}

h3 {
	font-size: 17px; line-height: 24px;
}

h4, h5, h6 {
	font-size: 14px; line-height: 21px;
}

ul, ol {
	margin-left: 30px;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}


/* Abbreviation CSS from Markdown-Extra extension */
abbr, acronym, span.abbr {
  cursor: help;
  border-bottom: 1px dashed #444;
}


/* Definition CSS from Markdown-Extra extension */

dl {
	
}

dt {
	float: left;
  clear: left;
  text-align: right;
  font-weight: bold;
}

dt:after {
	content: ":";
}

dd {
	padding-left: 10px;
}

/* Table CSS from Markdown-Extra extension */

table {
	text-align: center;
	padding: 4px;
	/* border: 2px solid #444; */
}

thead {
	font-weight: bold;
	/* border-bottom: 1px solid #555; */
}

tbody {

}

th, td {
	padding: 2px 8px;
}


/* Footnote CSS from Markdown-Extra extension */

.footnote-ref {
	padding-left: 1px;
  font-size: .75em;
  line-height: 0.5em;
  vertical-align: baseline;
  position: relative;
	top: -0.5em;
}


/* Code and CodeHilite CSS */

code {
	font-family: "Source Code Pro", monospace;
	background-color: #eee;
	padding: 1px 5px 1px 5px;
	border: 1px solid #ddd;
	border-radius: 2px;
}
	
.highlight {
	font-family: "Source Code Pro", monospace;
	font-size: 12px;
	background-color: #555;
	line-height: 125%;
	padding: 5px 10px;
	border: 2px solid #222;
	overflow: auto;
}

/* This class is used if line numbers are enabled in codehilite
.highlighttable {
	font-family: "Source Code Pro", monospace;
	font-size: 12px;
	line-height: 125%;
	padding: 5px 10px 5px 10px;
} */


#sidebar {
	position: fixed;
	width: 160px;
}
#bio {
	margin-bottom: 0;
	font-size: 90%;
}
#social {
	text-align: center;
}
a, a:visited {
	text-decoration: none;
	font-weight: bold;
}

a.icon, a:visited.icon, a:active.icon {
	padding: 0 3px;
	font-size: 20px;
	color: #555;
	font-weight: bold;
}

a:hover.icon, a:focus.icon { color: #222; }



/* Article Classes */
.article-title {
	clear: both;
	float: left;
	/* padding-top: 2.5%; */
	
	/* Styling from h3 tag in Skeleton's base.css */
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 8px;
}

.article-date {
	font-style: italic;
	float: right;
	margin: 8px 10px;
	
	/* Styling from h6 tag in Skeleton's base.css */
	font-size: 14px;
	line-height: 21px;
}

.article-summary { clear: both; }
.article-content { clear: both; overflow: hidden; }
.article-content img { border: 1px solid #222; }

h4 { margin-top: 20px; }
h5 { margin-top: 10px; }
p { margin: 12px 0px 12px 0px !important;}

.back-to-home { 
	margin-top: 20px;
	margin-bottom: 10px;
}


/* Mobile Styling */
@media only screen and (max-width: 760px) {
	#sidebar {
	  position: absolute;
	  width: 100%;
    top: 8px;
  }
    
  #sidebar img { float: left; width: 140px; margin-right: 10px; }
    
  #content {
    float: none;
    margin-top: 190px;
  }
    
  #content img {
		max-width: 85%;
		display: block;
		margin-left: auto;
		margin-right: auto; 
	}
}