{% extends 'base.html' %}

{% block meta %}

	<!-- Twitter Card
	================================================== -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@iKevinY">
	<meta name="twitter:title" content="{{ article.title|striptags }}">
	<meta name="twitter:description" content="{{ article.summary|striptags }}">
	<meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
	<meta name="twitter:domain" content="{{ DOMAIN }}">
	<meta name="twitter:site" content="@iKevinY">
{% endblock %}

{% block opengraph %}
	{{ super() }}
	<meta property="og:title" content="{{ article.title|striptags }} | {{ SITENAME }}">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
	<meta property="og:article:published_time" content="{{ article.date }}">
	<meta property="og:article:author" content="{{ SITENAME }}">
{% endblock %}

{% block title %}{{ article.title|striptags }} | {{ SITENAME }}{% endblock %}
{% block description %}{{ article.summary|striptags }}{% endblock %}

{% block content %}
	<h1 class="article-title"><a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">{{ article.title|striptags }}</a></h1>
	<h6 class="article-date">{{ article.locale_date }}</h6>
	<div class="article-content">{{ article.content }}</div>
	{% if article.next_article or article.prev_article %}
		<div class="related-articles">
			{% if article.next_article %}
				<a href="{{ SITEURL }}/{{ article.next_article.url}}" style="float: left;">&larr; {{ article.next_article.title|striptags }}</a>
			{% endif %}
			{% if article.prev_article %}
				<a href="{{ SITEURL }}/{{ article.prev_article.url}}" style="float: right;">{{ article.prev_article.title|striptags }} &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
	<hr class="large">
	{% if DISQUS_SITENAME and article.status != "draft" %}
		<!-- Disqus -->
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = '{{ DISQUS_SITENAME }}';
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
		</script>
	{% endif %}
{% endblock %}
