<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Metas
  ================================================== -->
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="author" content="Kevin Yap">

	<!-- Open Graph
  ================================================== -->
  {% block opengraph %}{% endblock %}
  <meta property="og:image" content="http://www.kevinyap.ca/theme/images/avatar.png">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/base.css">
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/skeleton.css">
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/layout.css">
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/simply.css">
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/monokai.css">
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
  ================================================== -->
	<link rel="apple-touch-icon" href="{{ SITEURL }}/theme/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/theme/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/theme/images/apple-touch-icon-114x114.png">

	<!-- LaTeX
	================================================== -->
	{% if article and article.latex %}
    {{ article.latex }}
	{% endif %}
	{% if page and page.latex %}
    {{ page.latex }}
	{% endif %}

</head>

<body>

	<!-- Primary Page Layout
	================================================== -->
	<div class="container">
		<div id="sidebar" class="three columns">
			<a href="{{ SITEURL }}"><img id="avatar" src="{{ SITEURL }}/theme/images/avatar.png"></img></a>
			<p id="logo"><a href="{{ SITEURL }}">{{ SITENAME }}</a></p>
	    <p id="bio" style="text-align: center">{{ BIO_TEXT }}</p>
	    <hr class="small" /> 
    	<div id="social">
    	
    		{% for link in SOCIAL %}
    			<a class="icon" href="{{ link[0] }}" title="{{ link[1] }}"><i class="{{ link[2] }}"></i></a>
    		{% endfor %}
    	
    	</div> <!-- social -->
    	
    	<!--
    	<hr class="small" />
    	<a style="text-align:center;" href="{{ SITEURL }}/about/">About Me</a> -->
		</div> <!-- sidebar -->

		<section id="content" class="twelve columns offset-by-one">
			{% block content %}{% endblock %}
		</section>

		<footer class="twelve columns offset-by-one">
			<!-- <hr class="small"> -->
			<p>{{ FOOTER_TEXT }}</p>
		</footer>
		
	</div><!-- container -->

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', '{{ GOOGLE_ANALYTICS }}', '{{ DOMAIN }}');
	  ga('send', 'pageview');
	</script>

<!-- End Document
================================================== -->
</body>
</html>