{% extends 'base.html' %}
{% block title %}{{ SITENAME }} | Home{% endblock %}
{% block content %}

  {% for article in articles %}

    <h3 class="article-title"><a href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a></h3>
    
    <h6 class="article-date">{{ article.locale_date }}</h6>

    <div class="article-summary">
	    {{ article.summary }} <a class="read-more" href="{{ article.url }}">Read more</a>
    </div>
    
	  <div class="article-content">
		  # {{ article.content }}
	  </div>
	  
	  <hr class="large">
  
  {% endfor %}

{% endblock %}
