{% extends 'base.html' %}

{% block meta %}

	<!-- Twitter Cards
	================================================== -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@iKevinY">
	<meta name="twitter:domain" content="{{ DOMAIN }}">
	<meta name="twitter:site" content="@iKevinY">
{% endblock %}

{% block opengraph %}
	{{ super() }}
	<meta property="og:title" content="{{ page.title|striptags }}">
	<meta property="og:description" content="{{ page.summary|striptags }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ SITEURL }}/{{ page.url }}">
{% endblock %}

{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock %}
{% block description %}{{ page.summary|striptags }}{% endblock %}

{% block content %}
	<h1 class="entry-title"><a href="/{{ page.url }}" title="{{ page.title|striptags }}">{{ page.title|striptags }}</a></h1>
	<div class="entry-content">
		{{ page.content }}
	</div>
	<div class="back-to-home"><a href="{{ SITEURL }}">&larr; Back to Home</a></div>
	<hr class="large">
{% endblock %}
