/*
* Based on Skeleton v1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Base 960 Grid (Desktop)
================================================== */
	.container                   { position: relative; width: 960px; margin: 0 auto; padding: 0; }
	.container .column           { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
	.container .side.column      { width: 160px; }
	.container .main.column      { width: 700px; }


/* Non-Desktop Layout
================================================== */
	@media only screen and (max-width: 959px) {
		.container .column       { margin: 0; }
	}


/* Mobile-Specific Layout
================================================== */
	@media only screen and (max-width: 767px) {
		.container               { width: 95%; }
		.container .main.column  { width: 100%; }
	}


/* Tablet-Specific Layout
================================================== */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container,
		.container .main.column  { width: 650px; }
	}
