/*
* simply.css
* Created by Greg Reda, modified by Kevin Yap
*
* Styling based on the Skeleton documention (http://www.getskeleton.com/)
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Reset & Basics (Inspired by Eric Meyer)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
	body { line-height: 1; }
	ol, ul { list-style: none; }
	blockquote, q { quotes: none; }
	blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
	table { border-collapse: collapse; border-spacing: 0; }


/* Typography
================================================== */
	body {
		background: #fff;
		font: 14px/22px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "Georgia", "Times New Roman", serif;
		font-weight: normal;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 28px; line-height: 34px; margin-bottom: 8px;}
	h2 { font-size: 21px; line-height: 30px; margin-top: 24px; margin-bottom: 4px; }
	h3 { font-size: 17px; line-height: 24px; margin-bottom: 8px; }
	h4, h5, h6 { font-size: 14px; line-height: 21px; }

	p { margin: 12px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

	blockquote { margin: 20px 0 20px 3px; padding: 1px 15px; border-left: 2px solid #ddd; }
	blockquote p {
		font-size: 14px;
		line-height: 21px;
		color: #777;
		font-style: normal;
		margin: 3px 0; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { clear: both; border: none; height: 1px; background-color: #ebebeb; margin: 20px 5px; }
	hr.large { height: 3px; margin: 10px; }

	a, a:visited { color: #333; text-decoration: none; font-weight: bold; outline: 0; }
	a:hover, a:focus { color: #000; text-decoration: underline; }
	p a, p a:visited { line-height: inherit; }
	a.icon, a:visited.icon, a:active.icon { padding: 0 2px; font-size: 20px; color: #555; }
	a:hover.icon, a:focus.icon { color: #222; text-decoration: none; }

	ul, ol { margin: 12px 0 12px 30px; }
	ul { list-style: none outside; list-style-type: disc; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

	abbr, acronym, .abbr { cursor: help; border-bottom: 1px dashed #444; }

	.footnote hr {
		margin: 20px 0;
	}

	.footnote-ref {
		padding-left: 1px;
		font-size: .75em;
		line-height: 0.5em;
		vertical-align: baseline;
		position: relative;
		top: -0.5em;
	}

	code {
		font-family: "Source Code Pro", monospace;
		background-color: #eee;
		padding: 0.5px 3px;
	}

	.codehilitetable {
		font: 12px/21px "Source Code Pro", monospace;
		overflow: auto;
		display: block;
		border-radius: 3px;
	}

	.linenos {
		border-right: 1px solid #3d3d3d;
		background: #eee;
		padding: 0.5em 0.8em;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.codehilite {
		margin: 0 1em;
	}

	/* Adds padding to code when scrolling long code blocks */
	.codehilite > pre {
		padding-right: 1em;
	}

	.admonition {
	    background: #fafafa;
	    margin: 20px 0;
	    padding: 10px 25px;
	    border-top: 1px solid #ccc;
	    border-bottom: 1px solid #ccc;
	}

	.admonition-title {
		font: 21px/30px "Georgia", "Times New Roman", serif;
		color: #181818;
	}

	/* Colourful social icons */
	a.fa:hover { transition: color 0.25s ease; }
	a.fa-envelope:hover { color: #613967; }
	a.fa-twitter:hover { color: #55acee; }
	a.fa-google-plus-square:hover { color: #dd4b39; }
	a.fa-github:hover { color: #000; }
	a.fa-soundcloud:hover { color: #f76700; }


/* Layout
================================================== */
	html, body {
		height: 100%;
	}

	.container {
		padding-top: 50px;
	}

	footer, article {
		float: right !important;
	}

	article img {
		max-width: 90%;
		margin: 0 auto;
		display: block;
	}

	#sidebar {
		position: fixed;
		width: 160px;
	}

	#avatar {
		margin: 0 auto 10px auto;
		display: block;
		width: 140px;
		border-radius: 12px;
	}

	footer, #logo, #bio, #sidebar-links, #social {
		text-align: center;
	}

	#logo {
		font-size: 26px;
		line-height: 34px;
		margin-bottom: 10px;
		letter-spacing: -0.5px;
	}

	#bio {
		font-size: 90%;
		line-height: 18px;
		color: #666;
	}

	#sidebar-links {
		margin: 12px 0;
	}

	#sidebar-divider {
		display: none;
	}

	.title {
		clear: both;
		float: left;
	}

	.date {
		float: right;
		margin: 8px 10px;
	}

	.content {
		clear: both;
		overflow: hidden;
	}

	.read-more {
		font-size: 90%;
	}

	#view-archives {
		text-align: right;
	}

	#related-articles {
		margin-top: 20px;
		padding-bottom: 20px;
	}

	#back-to-home {
		margin-top: 20px;
	}

	#next-neighbour {
		float: left;
	}

	#previous-neighbour {
		float: right;
	}


/* Handheld Layout (Mobile and Tablet)
================================================== */
	@media only screen and (max-width: 959px) {
		#sidebar {
			position: absolute;
			width: 300px;
			margin: 0 auto;
			top: 8px;
			left: 0;
			right: 0;
		}

		#sidebar img {
			float: left;
			margin: 0 4px;
		}

		article {
			margin-top: 120px !important;
		}

		#logo, #bio, #sidebar-links, #social {
			margin: 4px 0;
		}

		#sidebar-divider {
			display: block;
		}

		.title, .date {
			text-align: center;
			float: none;
		}

		.content {
			margin: 0 10px;
		}
	}


/* Tablet-Specific Tweaks (Portrait)
================================================== */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.title {
			clear: both;
			float: left;
			padding-left: 10px;
		}

		.date {
			float: right;
			padding-right: 10px;
		}

		#sidebar-divider {
			display: none;
		}
	}


/* Print-Friendly Layout
================================================== */
	@media only print {
		.container { width: 100%; }

		footer, #sidebar, #disqus_thread, #related-articles {
			display: none !important;
		}

		p a:after { content:" ["attr(href)"]"; }
	}
